$background-primary: #fff;
$background-secondary: #e6f2ff;
$border-secondary: darken($background-secondary, 5%);

$wide-width: 720px;

$hero-size: 300px;
$hero-padding: 20px;

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

//header {
//
//  background-color: $background-secondary;
//  border-bottom: 1px solid $border-secondary;
//
//  a {
//    font-weight: bold;
//    text-decoration: none;
//
//    &:visited {
//      color: inherit;
//    };
//  }
//
//}


section {
  max-width: 60em;
  margin: 0 auto;
  margin-bottom: 1em;
}


.home-header {

  min-height: $hero-size + $hero-padding;

  background: url("/images/evdb.png") no-repeat center $hero-padding;
  background-color: $background-secondary;

  padding-top: $hero-padding + $hero-size + $hero-padding;
  padding-bottom: $hero-padding;


  h1, p {
    text-align: center;
    margin-top: 1em;
    padding: 0 $hero-padding;
  }

  h1 {
    font-size: 200%;
  }

  p {
    font-size: 120%;
    line-height: 1.2em;
    margin-top: 1em;
  }

  @media screen and (min-width: $wide-width) {

    margin: 3em 1em;

    background-position: $hero-padding $hero-padding;

    padding-left: $hero-padding + $hero-size + $hero-padding;
    padding-top: $hero-padding;

    border: 1px solid $border-secondary;
    border-radius: $hero-padding;

    h1, p {
      text-align: left;
    }
  }

}


footer {

  background-color: $background-secondary;
  border: 1px solid $border-secondary;
  border-width: 1px 0;

  padding: 1em;

  text-align: center;

  font-size: 80%;
  color: #666;

  margin-top: 2em;

  ul {
    li {
      display: inline;
    }
    li + li {
      margin-left: 1em;
    }
  }

  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
    img {
      border: 0;
    }
  }

}
